<div class="heading">
  <div class="container">
    <h1 class="text-center">  TO - DO LIST  </h1>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">TO - DO LIST</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>        
    </div>
  </nav>


  <div class = "container">
     <app-todos></app-todos>
  </div>

</div>